<div class="container">
  <div class="row">
    <article class="col-xs-12 col-md-12 text-center">
      <center><h1>Log in</h1>
    
      <br>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <br>
      
      <%= form_with(scope: :session, url: sessions_path) do |form| %>

        <%= form.label :'メールアドレス' %>
        <%= form.email_field :email %>

        <%= form.label :'パスワード' %>
        <%= form.password_field :password %>
        
        <br><br>
        <%= form.submit "Log in", :class => 'btn btn-default', class:"short_input" %>
      <% end %>
      
    </center>
    </article>
  </div>
</div>