<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-12 text-center">
    <center>
      
    <!-- ユーザー情報 -->
      <h1>登録情報</h1>
      <p><%= image_tag("/assets/ougi.png") %></p>
      
      <strong>Name:</strong>
      <%= @user.name %>
      <br>
      <% if @user == current_user %>
        <%= link_to '編集', edit_user_path(@user) %>
         |
        <%= link_to '削除', @user, :style=>"color:#ff0000;", method: :delete, data: { confirm: '登録を削除しますか？' } %>
      <% end %>
    </center>
    
  <!-- ユーザーの投稿一覧 -->
    <table class="syotai_row">
      <h1 class="yoko">一覧</h1>
        
      <% @words.each do |word| %>
      <tr><td>
        <div class="panel">
          <%= link_to word.content, word %>
        </div>
        </td></tr>
        <% end %>
    </table>
    
  <!-- お気に入り一覧 -->
    <table class="syotai_row">
      <h1 class="yoko">付箋</h1>
      
      <% @favorites.each do |word| %>
        <tr><td>
          <div class="panel">
            <%= link_to word.content, word %>
          </div>
          
          <div class="sub_menu">
          <% tag_cloud word.tag_counts, %w{s m l} do |tag, css_class| %>
            ＃<%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
          <%= link_to word.user.name, user_path(word.user_id) %>
          </div>
        </td></tr>
      <% end %>
    </table>
    </div>
  </div>
</div>
