<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-12 text-center">
    <h1>登録情報</h1>
    <p><%= image_tag("/assets/ougi.png") %></p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <% if @user == current_user %>
      <%= link_to '編集', edit_user_path(@user) %>
       |
      <%= link_to '削除', @user, method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  </p>
  
    <h1>一覧</h1>
      <table class="syotai_row">
        <% @words.each do |word| %>
        <tr><td>
          <%= link_to word.content, word %>
        </td></tr>
        <tr><td>
          <% if word.user == current_user %>　
            <%= link_to '編集', edit_word_path(word), class:"sub_menu" %>
           ／
            <%= link_to '削除', word, method: :delete, data: { confirm: 'Are you sure?' }, class:"sub_menu" %>
          <% end %>
        </td></tr>
        <% end %>
      </table>
  
      <h1>付箋</h1>
      <table class="syotai_row">
        <% @favorites.each do |word| %>
        <tr><td>
          <%= link_to word.content, word %>
        </td></tr>
        <tr><td>
          <%= word.user.name %>
        </td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
