<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">

    <table class="syotai_row-responsive">
      <tr><td>
      
      <!-- ブックマーク機能 -->
        <% if @favorite.present? %>
          <%= link_to image_tag("/assets/out-bookmark.png"), favorite_path(word_id: @word.id), method: :delete %>
        <% else %>
          <%= link_to image_tag("/assets/on-bookmark.png"), favorites_path(word_id: @word.id), method: :post %>
        <% end %>
      
      <!-- word.content -->
        <div class="panel">
          <p><%= simple_format(@word.content) %></p>
        </div>
      </td></tr>
    </table>
    <br>
    
    <!-- タグと投稿者 -->
    <table class="yoko_menu">
      <tr><td  class="yoko_menu">
        <% tag_cloud @word.tag_counts, %w{s m l} do |tag, css_class| %>
          <%= link_to "＃"+tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
        <br>
        <%= simple_time(@word.created_at) %> 
        <%=link_to @word.user.name, user_path(@user) %>
      
      <!-- 投稿者のみの機能 --> 
        <% if @word.user == current_user %>
          (<%= link_to '編集', edit_word_path(@word) %>
          |
          <%= link_to '削除', @word, :style=>"color:#ff0000;", method: :delete, data: { confirm: '削除しますか？' } %>)
        <% end %>
      </td></tr>
    </table>
    </div>
  </div>
</div>